.pagination {
    @apply mt-9 flex justify-between items-center gap-4 flex-wrap;
}

.pagination .count {
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0px;
    @apply font-medium text-black-3;
}

.pagination .pages {
    @apply flex justify-end items-center gap-2;
}

.pagination .page {
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0px;
    height: 24px;
    width: 24px;
    @apply text-center font-semibold rounded flex justify-center items-center text-black-3 cursor-pointer;
}

.pagination .page.active {
    @apply bg-primary/10 text-primary;
}

.pagination .actionButton svg {
    width: 18px;
    height: 18px;
    @apply fill-black-3;
}

.pagination .actionButton:disabled svg{
    @apply fill-black-3/50;
}
