.wrapper {
    @apply container rounded bg-white py-4 relative p-0;
}

.wrapper > * {
    @apply px-6;
}

.titleWrapper {
    @apply mt-4 flex justify-between items-center;
}

.titleWrapper .title {
    font-size: 32px;
    line-height: 44px;
    letter-spacing: 0;
    @apply font-semibold
}

.titleWrapper .right {
    @apply flex justify-end items-center flex-grow gap-2;
}

.titleWrapper .input {
    min-width: 262px;
}

.listing {
    @apply relative;
}

.table {
    @apply table-auto w-full mt-10;
}


.table .centered {
    @apply text-center
}

.table thead tr {
    @apply border-y border-grey-3;
}

.table thead th {
    letter-spacing: 0px;
    @apply px-6 py-4 font-semibold text-black-3 text-sm;
}

.table thead th:first-child {
    @apply pl-0;
}

.table thead th:last-child {
    @apply p-0;
}

.table tbody td {
    @apply text-sm p-4 text-center;
}

.table tbody td:first-child {
    @apply pl-0 text-left;
}

.table tbody td:last-child {
    width: 1%;
    white-space: nowrap;
    @apply p-0;
}

.table tbody td .small {
    font-size: 12px;
    line-height: 18px;
}

.table .actionButtons {
    gap: 10px;
    @apply flex justify-center items-center;
}

.table .actionButtons button {
    font-size: 12px;
    line-height: 18px;
    @apply font-semibold text-black bg-grey-4 border border-grey-3 px-2 py-0.5 rounded flex-shrink-0;
}
