.topWrapper {
    @apply px-3 !important;
}

.top {
    @apply rounded p-6 bg-primary/10 flex justify-start items-center gap-4 flex-wrap md:flex-nowrap relative;
}

.top > * {
    @apply relative;
}

.top .bg {
    @apply absolute left-0 top-0 w-full h-full z-0 pointer-events-none overflow-hidden;
}

.top .bg svg {
    @apply w-auto h-full;
    fill-opacity: 0.1;
}

.top .price {
    @apply py-2 px-3 rounded bg-white font-semibold text-black inline-block shrink-0;
    font-family: var(--font-inter);
    font-size: 28px;
    line-height: 36px;
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.08);
}

.title {
    @apply text-base font-semibold text-black;
}

.info {
    @apply text-sm font-medium text-black-3 mt-1;
}

.invoices {
    @apply mt-8 mb-6;
}

.invoices .info {
    @apply mt-2
}

.invoice {
    @apply p-6 flex justify-between items-center border-y border-grey-3 flex-wrap gap-x-4 md:gap-x-6 gap-y-3;
}

.invoice + .invoice {
    @apply border-t-0;
}

.invoiceDetails{
    @apply flex justify-start items-center gap-x-4 gap-y-2 text-lg font-semibold text-black;
    min-width: 300px;
}
.invoiceDetails span{
    @apply text-black-3
}

.invoice .iconWrapper {
    @apply relative border rounded border-grey-3 inline-flex justify-center items-center;
    padding: 6px;
}

.button{
    @apply rounded border border-grey-3 bg-grey-4 text-xs font-semibold text-center py-1 px-2;
    line-height: 18px;
}

.invoice .plan{
    @apply flex justify-start items-center gap-x-3 gap-y-2 text-sm font-semibold text-black flex-shrink-0;
    min-width: 150px;
}

.invoice .plan .button {
    @apply bg-primary/10 border-transparent text-primary;
}