.domain img {
    @apply w-9 h-auto;
}

.domain {
    padding: 22px;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 0px;
    @apply font-semibold text-black-3 flex justify-between items-center;
}

.domain > div {
    gap: 10px;
    @apply flex justify-start items-center flex-grow;
}