.answer {
    @apply py-7;
}

.answer:first-of-type {
    @apply pt-0;
}

.answer:not(:first-of-type) {
    @apply border-t border-grey-3;
}

.label {
    @apply text-lg font-medium text-black-3;
    line-height: 20px;
}

.label span {
    @apply font-semibold text-black;
}

.select {
    @apply mt-3;
}

.squareInput label {
    @apply block;
}

.squareInput .input {
    @apply inline-block text-center;
    width: 55px;
}

/* Chrome, Safari, Edge, Opera */
.squareInput .input::-webkit-outer-spin-button,
.squareInput .input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
.squareInput .input[type=number] {
    -moz-appearance: textfield;
}

.squareInput .input + span {
    @apply text-sm font-semibold text-black ml-2;
}

.reactSelect [class$="-control"] {
    @apply mt-2 py-3 pl-4 pr-8 text-sm font-semibold text-black flex gap-x-2 items-center border border-grey-3 rounded w-full relative bg-white;
    -moz-appearance: none; /* Firefox */
    -webkit-appearance: none; /* Safari and Chrome */
    appearance: none;
    outline: none;
}

.reactSelect [class$="-ValueContainer"] {
    @apply p-0 m-0;
}

.reactSelect [class$="-indicatorSeparator"] {
    @apply hidden;
}

.reactSelect [class$="-indicatorContainer"] {
    @apply absolute right-3 top-1/2 -translate-y-1/2 flex justify-center items-center p-0;
    width: 16px;
    height: 16px;
}

.reactSelect [class$="-indicatorContainer"] svg {
    width: 8px;
    height: auto;
}

.reactSelect [class$="-placeholder"] {
    @apply p-0 m-0;

}

.reactSelect [class$="-Input"] {
    @apply p-0 m-0;
}

.editor{
    @apply mt-2;
}